<div class="ui piled segment">
  <div id="chart_loading" class="ui active inverted dimmer">

    <div class="ui text loader">
      Carregando
    </div>

    <!-- Só mostra em caso de erro no request -->
    <div class="ui text errored hidden">
      <h4 class="ui icon header">
        <i class="warning sign icon"></i>
        <div class="content">
          Ocorreu um erro!
          <div class="sub header">
            Por favor, contate um administrador do sistema.
          </div>
        </div>
      </h4>
    </div>

  </div>

  <div id="show_function_chart" style="min-height:480px"></div>
</div>
