<div class="ui container">
  <div class="ui hidden divider"></div>
  <h1>Editando Função</h1>

  <%= render 'form', function: @function %>

  <br>

  <%= link_to @function, class: 'ui button' do %>
    <i class="eye icon"></i>
    Exibir
  <% end %>
  <%= link_to functions_path, class: 'ui button' do %>
    <i class="chevron left icon"></i>
    Voltar
  <% end %>

</div>
