// Place all the styles related to the Functions controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.dimmer .warning.sign.icon
  color: darkred

.hidden
  display: none !important

.function-show
  font-family: monospace

.ui.form input[type="text"].code
  font-family: monospace

#point_b_title, #update_points
  margin-left: 20px
