// Place all the styles related to the Functions controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.dimmer .warning.sign.icon
  color: darkred

.hidden
  display: none !important

.m-20-r, #update_points
  margin-left: 20px
